.calculate {
    margin: 22px 0;
    &__item {
        border: 1px solid black;
        background-color: #86d3f4;
        color: #000000;
        width: 88px;
        height: 52px;
        margin: 0 10px 10px 0;

        &:hover {
            background-color: black;
            color: white;
        }
    }

    .stik_2 {
        width: 187px;
    }
}
