.home {
    height: 100vh;
    width: 100%;
    background: url('../static/video.png') center center/cover no-repeat;
    z-index: 1;
    position: relative;
    text-align: center;

    &__banner {
        display: block;
        background-color: #86d3f4;
        width: 251px;
        height: 357px;
        z-index: 2;
        position: absolute;
        right: 0;
        top: 40%;
        padding: 20px 10px 10px 10px;

        h1 {
            font-style: 16px;
        }
    }

    &__qrcode {
        margin-top: 20px;
    }

    &__subtxt {
        text-align: center;
        margin-top: 20px;
    }

    .btn {
        border: none;
        background-color: black;
        color: #86d3f4;
        width: 156px;
        height: 52px;
        margin-top: 20px;
    }
}
